@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Define el color del texto principal (RGB: 0,0,0 = negro) */
  --foreground-rgb: 0, 0, 0;
  /* Define el color de fondo principal (RGB: 214,219,220 = gris claro) */
  --background-rgb: 214, 219, 220;
}

/* Estilos globales del body */
body {
  /* Aplica el color de texto usando la variable definida arriba */
  color: rgb(var(--foreground-rgb));
  /* Aplica el color de fondo usando la variable definida arriba */
  background: rgb(var(--background-rgb));
  /* Asegura que el body ocupe al menos el 100% del alto de la ventana */
  min-height: 100vh;
}

/* Contenedor para mantener proporción de aspecto 4:3 */
.aspect-w-4 {
  /* Necesario para que el padding porcentual funcione correctamente */
  position: relative;
  /* Crea un espacio con proporción 4:3 (75% = 3/4) */
  padding-bottom: 75%;
}

/* Estilos para elementos dentro del contenedor de aspecto */
.aspect-w-4 > * {
  /* Posicionamiento absoluto para llenar el contenedor padre */
  position: absolute;
  /* Estira el elemento para llenar todo el contenedor */
  height: 100%;
  width: 100%;
  /* Ancla el elemento a todas las esquinas del contenedor */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Estilos para la tarjeta de personaje */
.character-card {
    /* Centra el div */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Asegura que el texto esté en la parte superior */
    margin: 20px; /* Margen alrededor de la tarjeta */
    padding: 10px; /* Espaciado interno */
    border: 2px solid rgba(0, 0, 0, 0.1); /* Borde sutil */
    border-radius: 8px; /* Bordes redondeados */
    background-color:rgb(61, 73, 110); /* Fondo blanco para la tarjeta */
}
